html,
body {
    height: 100%;
}

.nav-btn-nellie {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-color: #fff;
    border-width: 2px;
}

.nav-btn-nellie:hover {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.nav-colored {
    background-color: rgba(0, 0, 0, 0.3);
}

.hide {
    height: 0px;
}

.nav-transparent {
    background-color: transparent;
}

.landing-page {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(/assets/img/original.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
}

.shadow {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
}

.haze {
    width: 100%;
    height: 100%;
}

.jumbo-nellie {
    background-color: transparent;
    text-align: center;
    color: #fff;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.nellie {
    width: 30%;
    min-width: 200px;
}

.nellie-section {
    padding-top: 40px;
}

.app-section {
    background-color: #fff;
    border-bottom: 2px solid;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-radius: 0;
}

.app-kiisu {
    background: linear-gradient( rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(/assets/img/original.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.kiisu-text {
    color: #fff;
}

.app-btn {
    margin: 10px;
    min-width: 100px;
}

#about {
    padding-bottom: 40px;
}

.btn-back-arrow {
    cursor: pointer;
    height: 50px;
}

.footer {
    width: 100%;
    color: #0275d8;
    padding: 40px 20px 30px 40px;
    background-color: #fff;
}

.cursor {
    position: absolute;
    right: 25%;
    bottom: 50px;
}
