body {

	font-family: 'ubuntu', sans-serif;
	
	padding-top: 20px;
	padding-bottom: 20px;
	
}
.peamine{
	background-color: rgba(240, 240, 240, 1);
	color: #494949;
	padding: 40px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-color: #d6d6d6;
	
}
.btn-default {
	min-width: 100px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 3px;
	border-radius: 0px;
	color: #fff;
	background-color: rgba(91, 170, 255, 1);
}
.btn-default:hover {
	background-color: rgba(104, 177, 255, 1);
}
html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
	padding-bottom: 40px;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.nupud{
	margin: 0 auto;
	padding-top: 40px;
	max-width: 400px;
	
}
#kyss {
	text-align: center;
	font-size: 1em;
}
.mx-auto{
	max-height: 200px;
	width: 100%;
	background-color: #EDDA8D;//#68B1FF;
	
}
.strt {
	padding-bottom: 20px;
}
.btn-secondary {
	color: #fff;
	background-color: rgba(91, 170, 255, 1);
}
.btn-secondary:hover{
	color: #fff;
	background-color: rgba(104, 177, 255, 1);
	border-color: #ccc;
}
.small-new {
	color: rgb(91, 170, 255);
	font-size: 0.7em;
}
.content-edit{
	display: inline-block;
}
.icon{ 
    max-height:30px;
    max-width:30px;
}
.mainimage {
	display: block;
    margin: auto;
	max-height: 150px;
	padding: 15px;
	
}