<script type="text/javascript">
    $(function() {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<div class="text-center" style="padding: 30px">
    <h1> <i class="fas fa-graduation-cap"></i> Teadmiste jagamine</h1>

    <div class="container" style="margin-top: 30px">

        <form>
            <div class="form-group row">

                <div class="col-sm-12">
                    <h4 class="display-4 text-left" ng-if="teachingForm.fault.id">{{teachingForm.fault.value}}</h4>
                    <div class="input-group input-group-lg">
                        <span ng-if="!teachingForm.fault.id" style="background:transparent; color: #31708F" class="input-group-addon"><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Parim vea kirjeldus on võimalikult lühike ja selgelt mõistetav"></i></span>
                        <input ng-if="!teachingForm.fault.id" type="text" class="form-control" ng-model="teachingForm.fault.value" placeholder="Vea kirjeldus">
                    </div>

                </div>
            </div>
            <blockquote class="blockquote text-left">
                <h5 style="color: #4c4c4c"><span data-toggle="tooltip" data-placement="right" title="Inspiratsiooniks">Sinu vastatud küsimused</span></h5>
            </blockquote>
            <table class="table text-left lead">

                <tbody ng-repeat="askedQuestion in sessionHistory">
                    <tr>
                        <td>{{askedQuestion.value}}</td>
                        <td>
                            <span ng-if="askedQuestion.answer != 1" class="font-weight-bold" style="color: #4c4c4c">{{answerTranslate(askedQuestion.answer)}}</span>
                            <span ng-if="askedQuestion.answer == 1" class="font-weight-bold" style="color: #00c430">{{answerTranslate(askedQuestion.answer)}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <hr>
            <blockquote class="blockquote text-left">
                <h5 style="#4c4c4c"> Mida tahad küsida?</h5>
            </blockquote>

            <div class="alert alert-info text-left">
                <i class="fas fa-info-circle"></i> Lisa ainult küsimused, mille jaatav vastus sobib sellele veale. <br>
                <i class="fas fa-info-circle"></i> Nellie lisab kõik eelnevalt "Jah" vastatud küsimused ise ära.
            </div>
            <div ng-repeat="question in teachingForm.questions">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <div class="input-group input-group-lg">
                            <input type="text" ng-blur="dynField('blur', question.id)" ng-click="dynField('click', question.id)" class="form-control" ng-model="question.value" placeholder="Küsimus">
                            <span ng-if="question.value" class="input-group-btn">
                                <button ng-click="dynField('remove', question.id)" class="btn btn-danger" type="button"><i class="fas fa-trash-alt"></i></button>
                                </span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-group row">
                <div class=" col-sm-12">


                    <button type="submit" class="btn btn-primary">Edasi</button>
                </div>
            </div>
        </form>
        <button ng-click="viewSelector('results')" class="btn btn-primary">Tagasi</button>
    </div>
</div>
