<div class="container lead">
    <div class="row text-center">
        <div class="col">
            {{question}}
        </div>
    </div>
    <div class="row text-center" style="margin: 20px">
        <div class="col">
            <button type="button" class="btn btn-primary" ng-click="interact('yes')">Jah</button>
            <button type="button" class="btn btn-primary" ng-click="interact('unknown')">Ei tea</button>
            <button type="button" class="btn btn-primary" ng-click="interact('no')">Ei</button>
        </div>
    </div>
</div>
