<div ng-class="'jumbotron vertical-center'">
    <div class="row">
        <div class="col">
            <!-- <h1 id="nellie">Nellie</h1> -->
            <img src="assets/img/nellielogov3.png" class="nellie">
            <p class="lead">Improving your car owning and maintaining experience</p>
            <a class="btn btn-lg btn-primary" ng-click="showtime(true)" ng-if="!trainingData" href="#diagnostics" role="button">Begin</a>
            <a class="btn btn-lg btn-primary" ng-click="continue()" ng-if="trainingData" href="#diagnostics" role="button">Continue</a>

        </div>
    </div>
</div>
