.imagemodal,
.popup-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5) center center no-repeat;
    background-size: contain;
    z-index: 9999;
    cursor: pointer;
    padding: 0 20px;
    overflow: auto;
}

.imagemodal .popup-modal-inline,
.popup-modal .popup-modal-inline {
    display: block;
    max-width: 800px;
    background: #fff;
    margin: 20px auto;
    padding: 40px;
    cursor: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
}

.imagemodal h1,
.popup-modal h1 {
    margin: -40px -40px 40px -40px;
    display: block;
    padding: 10px 40px;
    border-bottom: #b1b1b1 1px solid;
}

.imagemodal h1 .btn,
.popup-modal h1 .btn {
    vertical-align: center;
}

.modal-open .view,
.modal-open .navbar {
    filter: blur(2px);
}

.loader {
    opacity: 0;
}

.show-loader {
    opacity: 1;
}

.busy-text {
    opacity: 0.6;
}

html,
body {
    height: 100%;
}

.view {
    min-height: 100%;
}

body {
    background: #f1f1f1;
}

.block {
    background: #fff;
    max-width: 1200px;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
}

.block .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.loader-ring {
    display: block;
    margin: 0 auto;
}

@media screen and (max-width:370px) {
    .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        font-size: 21px;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
    }
    .input-group .btn {
        margin-bottom: 0;
    }
    .block {
        width: 100%;
    }
}

.footer-ribbon {
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: #999;
    line-height: 32px;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    z-index: 999;
}
