<div ng-controller="asking" class="d-flex justify-content-center flex-column" style="height:100%">


    <div class="d-flex block">
        <!-- flex -->

        <img ng-if="loading" class="loader-ring" src="/assets/img/dual_ring-0.9s-200px.svg">
        <div ng-if="!loading" class="container lead">

            <div class="row text-center">
                <div class="col">
                    <img ng-class="{'show-loader' : busy }" class="d-inline-block align-top loader" src="/assets/img/Ball-0.4s-50px.svg"> <br />
                    <span ng-class="{'busy-text': busy }">{{currentQuestion.value}}</span>


                </div>
            </div>
            <div class="row text-center" style="margin: 20px">
                <div class="col">
                    <button type="button" class="btn btn-primary" ng-click="userInteraction('yes')">Yes</button>
                    <button type="button" class="btn btn-primary" ng-click="userInteraction('unknown')">Don't know</button>
                    <button type="button" class="btn btn-primary" ng-click="userInteraction('no')">No</button>
                </div>
            </div>
        </div>

        <!-- flex -->
    </div>
</div>
