
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Latest Nellie</title>

 

    <link rel="stylesheet" href="style.css">

</head>
<body class="maybe-body">
  <h1>Were the questions understandable?</h1>
  <section>
    <button>Yes</button>
    <button>No</button>
  </section>
</body> 
</html>
