<div class="d-flex justify-content-center" style="height:100vh">
    <div class="d-flex align-items-center">
        <!-- flex -->

        <div class="container lead">
            <div class="row text-center">
                <div class="col">
                    <h4 style="color:#00bc4e;font-size: 4rem;"><i class="fas fa-check-circle"></i></h4>
                    <h4 class="display-4">Thank you!</h4>
                    <p>We appreciate the lesson</p>
                </div>
            </div>
            <div class="row text-center" style="margin: 20px">
                <div class="col">
                    <button type="button" class="btn btn-primary" ng-click="resetApplication()"><i class="fas fa-sync-alt"></i> Start again</button>
                </div>
            </div>
        </div>

        <!-- flex -->
    </div>
</div>
