<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">

        <p>Today's welcome message is:</p>
        <h1>{{myWelcome}}</h1>

    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope, $http) {
            var headers = {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': '*'
            };
            var urlg = 'www.google.ee';
            var urlk = 'http://karbik.eu:6543/node/1';
            var urlc = 'http://organicwalls.ee/test/test';

            $http.get(urlc, headers)
                .then(function(response) {
                    $scope.myWelcome = response.data;
                });
        });
    </script>

</body>

</html>
